*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: white;
    transition: 0.6s;
}

.header-bottom .btn{
    display: none;
    font-size: 1.4rem;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar .logo img{
    width: 55px;
    height: 55px;
    margin-right: 1.2rem;
}

.navbar .logo{
    display: flex;
    font-size: 65px;
    align-items: center;
    letter-spacing: 1.4rem;
}


.nav{
    list-style: none;
    display: flex;
}

.nav-item-static{
    width: 100vw;
    font-weight: lighter;
    font-size: 1.5rem;
    padding: 0rem 5rem;
    text-align: center;
    color: grey;
}

.nav-item a{
    text-decoration: none;
    color: gray;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
    padding: 0rem 15% 1rem 20%;
}

.search-bar{
    color: grey;
    font: 1.2rem;
}

.menu{
    width: 350px;
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
    padding-top: 3.5rem;
    font-weight: lighter;
}

.menu li{
    list-style: none;
}

.search-bar{
    margin-top: 3rem;
    font-weight: lighter;
    padding: 10px;
}

.main{
    width: 100%;
    height: 140vh;
    overflow: hidden;
    background-color: #000;
    padding: 2rem;
    margin-top: 200px;
    position: relative;
    background-image: url(../images/bg.jpeg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}


.main p{
    font-size: 2rem;
    margin-top: 1.5rem;
    position: absolute;
    top: 30px;
    text-align: center;
    width: 100vw;
    z-index: 99;
}

.footer{
    width: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 9rem;
    color: white;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6), inset 0 -1px 1px rgba(0, 0, 0, 0.6), 0 0 5px rgba(0, 0, 0, 0.6);
    background-color: #000;
    background: linear-gradient(0deg, rgb(35, 41, 51), rgb(87, 91, 99));
}

.footer-image{
    display: flex;
    font-size: 65px;
    align-items: center;
    letter-spacing: 1.4rem;
}

.location{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-around;
}

.location-item{
    color: white;
    padding-top: 5px;
    font-size: 1.2rem;
    justify-content: center;
}

.mr{
    margin-right: 1.4rem;
}

.location-item a{
    color: white;
}

.footer-hidden{
    display: none;
    visibility: hidden;
}

.icon{
    display: none;
    visibility: hidden;
}

@media (max-width: 1024px) {
    .location, .footer-image{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-bottom .btn{
        display: block;
    }

    .header-bottom .menu{
        position: fixed;
        background-color: white;
        flex-direction: column;
        min-width: 100vw;
        height: 100%;
        top: 0;
        right: -120%;
        padding: 80px 50px;
        transition: 0.5s;
        transition-property: right;
        z-index: 9999;
    }

    .header-bottom .menu .nav-item{
        padding: 0.1rem;
    }
    
    .menu-btn{
        position: absolute;
        right: 20px;
        top: 90px;
    }
    .search-bar{
        position: absolute;
        top: -10px;
        right: 10px;
        font-size: 1rem;
    }

    .menu li{
        list-style: none;
        text-align: center;
        line-height: 3rem;
        font-size: 2rem;
        font-weight: 100;
    }

    .location-item{
        width: 100vw;
    }

    .header-bottom .menu.active{
        right: 0;
    }

    .header-bottom .menu .close-btn{
        position: absolute;
        top: 50px;
        right: 0px;
        margin: 25px;
    }

    .header-bottom .menu a{
        display: inline;
    }

    .navbar{
        margin-top: 2rem;
    }

    .navbar .logo{
        font-size: 35px;
    }
    .nav-item-static{
        font-size: 1.2rem;
    }

    .sm-hide{
        display: none;
        visibility: hidden;
    }

    .footer-image{
        font-size: 45px;
    }    

    .mr{
        margin-right: 0rem;
    }
    .mt{
        margin-top: 1rem;
    }
    .footer-hidden{
        display: inline;
        visibility: visible;
    }
    .nav-link.active{
        color: #C86567;
    }
    .main{
        padding: 0rem;
    }
    .main p{
        padding: 1rem;
    }
}